Django==1.11.28
django-configurations==2.0
django-js-reverse==0.9.1
django-polymorphic==1.2
django-private-views==1.2
django-widget-tweaks==1.4.1
djangorestframework==3.9.1
psycopg2==2.7.1
pytz==2017.2
xlrd==1.0.0
XlsxWriter==0.9.6
