{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}
Experiment: {{ object.id }}
{% endblock %}

{% block custom-js %}
    {{ block.super }}
{% endblock %}

{% block navstop %}experiments{% endblock %}

{% block content %}

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'datafiles-list' %}">Data Files</a></li>
    <li class="active">{{ object.name }}</li>
  </ol>

	<div class="page-header">
		<h1>
            {{ object }}&nbsp;<small>{{ object.type }}</small>
        </h1>
	</div>
	{% if object %}
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top:7.5px;">


                  {% if object.status == "locked" %}
                  <span class="label label-danger">{{ object.status }}</span>
                  <a class="btn btn-default btn-xs" onclick="unlock()" data-text="unlock" id="unlock-button">unlock</a>
                  {% else %}
                  <span class="label label-info">{{ object.status }}</span>
                  <a class="btn btn-default btn-xs" onclick="lock()" data-text="lock" id="lock-button">lock</a>
                  {% endif %}
                  <small>Owned By: {{ object.owner }}</small>

                </h3>
                <!-- No edit at the moment -->

			</div>
			<div class="panel-body">
        {%if object.description %}
          {{ object.description }}
        {% else %}
          <div class="alert alert-warning">No Description</div>
        {% endif %}
			</div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <em>Last Edited: {{ object.date_modified }}</em>
                    </div>
                    <div class="col-md-6">
                        <span class="pull-right">Created: {{ object.date_created }} by {{ object.created_by }}</span>
                    </div>
                </div>
            </div>
		</div>


<br>
	{% else %}
		<h1>Missing Data File!</h1>
	{% endif %}
{% endblock %}
