{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}
Data Files
{% endblock %}

{% block navstop %}datafiles{% endblock %}

{% block plugin-library-js %}
    {{ block.super }}

    <script src="{% static 'core/js/dropzone.js' %}" type="text/javascript"></script>


{% endblock %}

{% block custom-js %}
    {{ block.super }}
    <script src="{% static 'core/js/datafiles/list.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<b>{% csrf_token %}</b>
<div class="row">
    <div class="btn-group" role="group" aria-label="...">
        <a type="button" class="btn btn-success hidden" id="upload_files">Upload Files</a>
        <a type="button" class="btn btn-info hidden" id="done_upload">Done</a>
        <a type="button" class="btn btn-danger hidden" id="cancel_upload">Cancel Upload</a>
    </div>
</div>

<div class="row">
    <div id="to_be_uploaded_datafile" class="col-md-11 dropzone-previews stitched">
        <div class="dz-message">Drop or click here</div>
    </div>
</div>

{% endblock %}