{% load staticfiles %}

<link rel="stylesheet" href="{% static 'external/SlickGrid-2.3.6/slick.grid.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'external/SlickGrid-2.3.6/slick-default-theme.css' %}" type="text/css"/>

<style>

.slick-cell.selected {
    background-color: #eeeeee;
}

.slick-cell.editable {
    z-index: 11;
    overflow: visible;
    background: white;
    border: solid 1px black !important;
}

.slick-header {
    border: none !important;
}

.grid {
    min-height: 250px;
    position: relative;
    border-bottom: 1px solid black;
}

.slick-row.ui-widget-content.new-row {
    border: 1px solid black;
}

.slick-header-columns {
    background: none;
    border-bottom: 1px solid black;
}

.slick-header-columns, .slick-headerrow-columns, .slick-footerrow-columns {
    position: relative;
    white-space: nowrap;
    cursor: default;
    overflow: hidden;
}

.slick-header-column.ui-state-default {
    background:none ;
    background-color: white ;
    color: black;
    border: none !important;
    padding: 0 5px;
    text-shadow: none;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
}

.slick-row.ui-widget-content, .slick-cell {
    background: none;
    background-color: white;
    color: black;
    border: none;
    border-bottom: solid 1px #ffffff;
    font-size: 14px;
    height: 60px;
    padding: 0 5px;
}

input {
    line-height: normal;
}

</style>
