{% load staticfiles %}
<script src="{% static 'external/SlickGrid-2.3.6/lib/jquery.event.drag-2.3.0.js' %}" type="text/javascript"></script>

<script src="{% static 'external/SlickGrid-2.3.6/slick.core.js' %}"></script>
<script src="{% static 'external/SlickGrid-2.3.6/plugins/slick.cellrangedecorator.js' %}"></script>
<script src="{% static 'external/SlickGrid-2.3.6/plugins/slick.cellrangeselector.js' %}"></script>
<script src="{% static 'external/SlickGrid-2.3.6/plugins/slick.cellselectionmodel.js' %}"></script>
<script src="{% static 'external/SlickGrid-2.3.6/slick.formatters.js' %}"></script>
<script src="{% static 'external/SlickGrid-2.3.6/slick.editors.js' %}"></script>
<script src="{% static 'external/SlickGrid-2.3.6/slick.grid.js' %}"></script>

<script src="{% static 'core/js/slickgrid.formatters.js' %}"></script>